.btn:link,
        .btn:visited{
            text-transform: uppercase;
            text-decoration: none;
            padding: 15px 40px;
            display: inline-block;
            border-radius: 100px;
            transition: all 0.2s;
            position: relative;

            
        }   
        .btn-white{
            background: $color-white;
            color:$color-black;
            font-size: 1.5rem;

            &::after{
                background-color: $color-white;
            }
            
        }
        .btn-green{
            background: $color-primary;
            color:$color-grey-dark;
            margin-top: 5rem;
            padding: 10px;
            border-radius: 5px;
            color: $color-white;
            font-size: 1.5rem;
            border: none;
            &::after{
                background-color: $color-primary;
                color:$color-white;
            }
            
        }
        .btn:hover{
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0,0,0, 0.2);
        }
        .btn:active{
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
        }

        .btn::after{
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 100px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        }
        .btn-white:hover::after{
            background: #fff;
            color: black
        }
        .btn:hover::after{
            transform: scale(1.2);
            opacity: 0;
        }
        .btn-animated{
            animation: moveBottom 0.5s ease-out .75s;
            animation-fill-mode: backwards;
        }

.btn-text{
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover{
        background: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black , .15);
        transform: translatex(20px);
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black , .15);
        transform: translateY();
    }
}